@import "{{ site.theme }}";

header {

display: none;

}

img[alt$="><"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
  }

.page__content {
    text-align: justify;
  }